{% load static %}
{% include 'sidebar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="utf-8">
    <title>MEDINOVA - Hospital Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
</head>

<body>
    


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm mb-5">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                <a href="index.html" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Medinova</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <p>Welcome {{ accountss.email }}</p>
                    
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
<body>
    <div class="container" style="margin-left:250px ;">
        {% if messages %}
            
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
                {% endfor %}
            
        {% endif %}
    </div>
    <form action="" method="post" class="form-control text-center" id="Doctor" >
        {% csrf_token %}
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Name</label>
                <input type="text" class="form-control" style="margin-left:300px ;" name="name" id="name" placeholder="Enter name" required>
            
            
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Email</label>
            <input type="email" class="form-control" style="margin-left:300px ;" name="email" id="email" placeholder="Enter Email" required>
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Hospital</label>
            <!-- <input type="text" class="form-control" name="speciality" id="hospital" required> -->
            <select name="hospital" id="hospital" class="form-control" style="margin-left:300px ;">
                <option selected disabled="true" value="">
                    {% for h in hospital%}
                    <option value="{{h.pk}}">{{h.name}}</option>
                    {% endfor %}
                </option>
            </select>
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Speciality</label>
            <input type="text" class="form-control" style="margin-left:300px ;" placeholder="Enter speciality" name="speciality" id="speciality" required>
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Address</label>
            <input type="text" class="form-control" style="margin-left:300px ;" placeholder="Enter address" name="address" id="address" required>
        </div>
        <br>
        
        <div class="col-md-6" class="col-md-4" style="margin-left:30px ;">
            <label for="">Work Start Time</label>
            <input type="time" class="form-control" style="margin-left:300px ;" placeholder="Start Time" name="work_start_time" id="work_start_time" >
        </div>
            <br>
        <div class="col-md-6" class="col-sm-4" style="margin-left:30px ;">

            <label for="">Work End Time</label>
            <input type="time" class="form-control" style="margin-left:300px ;" placeholder="End Time" name="work_end_time" id="work_end_time" >
        </div>
        <br>
        
        <input type="submit" class="btn btn-success" style="margin-left:100px ;padding: auto;" value="Save">
    </form>
    



</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
$(document).ready(function() {
$("#Doctor").validate({


});
});
</script>



<!-- <script>
    $('#Doctor').on('submit', function(e){
        
    e.preventDefault();
    
      $.ajax({
           type : "POST", 
           url: "{% url 'add_doctor' %}",
           data: {
            name : $('#name').val(),
            email : $('#contact').val(),
            hospital : $('#hospital').val(),
            speciality : $('#speciality').val(),
            address : $('#address').val(),
            work_start_time : $('#work_start_time').val(),
            work_end_time : $('#work_end_time').val(),
            
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",
    
           },
           
           success: function(data){
           },
    
           failure: function() {
               
           }
    
    
       });
    
    
            });    
 </script> -->
