{% include 'base.html' %}
{% load static  %}
<head>
    <!-- <link rel="stylesheet" href="{% static "css/stylee.css" %}"> -->
</head>










 <div class = "card-body text-center">
       
    <h5 style = "border-bottom : 2px solid orange"> Signin to your account</h5>
<br><br>

<div class="container" style="margin-left:250px ;">
    {% if messages %}
        
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
            {% endfor %}
        
    {% endif %}
</div>
    <div class="container-fluid">
        <form  method="post" id="Login_form">
            {% csrf_token %}
            <div class="form-row ">
            
            

                <div class="col-sm-6 ">
                    <div class="form-group m-2 " >
                        <label >Email</label>
                        <input type="email" name="email" class="form-control" style="margin-left:300px ;" placeholder="Email"  required>
                    </div>
                </div>
                <br>
                <div class="col-sm-6 ">
                    <div class="form-group m-2" >
                        <label style="margin-left:25px ;" >Password</label>
                        <input type="password" name="password" class="form-control" style="margin-left:300px ;" placeholder="Password"  required>
                    </div>
                </div>
                <br>
                <input type="submit" value="Login" class="m-2 px-3 btn btn-primary"><br>
                <span>Don't have an account..?</span><a href="{% url 'signup' %}">Sign Up</a>
                <a class="nav-link" href="#">Forget Password</a>

            </div>
        </form>
        </div>
    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
$(document).ready(function() {
$("#Login_form").validate({


});
});
</script>