{% include "base.html" %}

<body>
    <div style="margin-left:200px;margin-right: 200px;">
    <h3 class="text-center" style="color:green ;border-bottom: 3px solid black;">Proceed to confirm your booking</h3>
    </div>
    <br>
    
    <div class="container" style="margin-left:250px ;">
        {% if messages %}
            
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
                {% endfor %}
            
        {% endif %}
    </div>
    <form action="" method="post" class="form-control text-center" id="Doctor" >
        {% csrf_token %}
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Patient Name</label>
                <input type="text" class="form-control" style="margin-left:300px ;" name="patient" id="patient" value="{{pa.name}}" readonly >
            
            
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Doctor Name</label>
            <input type="text" class="form-control" style="margin-left:300px ;" name="doctor" id="doctor" value="{{pi.name}}" readonly>
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Hospital</label>
            <!-- <input type="text" class="form-control" style="margin-left:300px ;" name="hospital" id="hospital" value="{{pi.hospital}}" readonly> -->
            <select name="hospital" id="hospital" class="form-control" style="margin-left:300px ;">
                <option value="{{pi.hospital.id}}" >{{pi.hospital}}</option>
            </select>
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Date</label>
            <input type="date" class="form-control" style="margin-left:300px ;"  name="date" id="date" required>
        </div>
        <br>
        <div class="col-md-6" style="margin-left:30px ;">
            <label for="">Slot</label>
            <select name="slot" id="slot" class="form-control" style="margin-left:300px ;">
                <option selected disabled="true" value="">
                    {% for h in slot%}
                    <option value="{{h.pk}}">{{h.start_time}} - {{h.end_time}}</option>
                    {% endfor %}
                </option>
            </select>        </div>
        <br>
        
       
        
        <input type="submit" class="btn btn-success" style="margin-left:100px ;padding: auto;" value="Save">
    </form>
</body>