
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>MEDINOVA - Hospital Website Template</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<!-- Favicon -->
<link href="img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">



<!-- Customized Bootstrap Stylesheet -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    
    <!-- Navbar Start -->
<div class="container-fluid sticky-top bg-white shadow-sm mb-5">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="index.html" class="navbar-brand">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Medinova</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </nav>
    </div>
</div>
</body>
<!-- Navbar End -->



<body style="background-color:lightblue ;">
<div class="form-float">
    <div class="container" style="margin-left:250px;">
        {% if messages %}
            
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} m-2 " role="alert">{{ message }}</div>
                {% endfor %}
            
        {% endif %}
    </div>

<div class="col-md-7 m-3" >
    <h3 style="border-bottom:2px solid black;margin-left: 400px;color: green;" class="text-center">Show Doctor Details</h3>
    <table class="table table-hover table-danger table-bordered mt-5" style="margin-top:100p; margin-left: 300px;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Hospital</th>
                <th scope="col">Speciality</th>
                
               
                <th scope="col">Book Appointment</th>
            </tr>
        </thead>
        <tbody>
            {% for st in doctor %}
                <tr>
                    <td>{{st.id}}</td>
                    <td>{{st.name}}</td>
                    <td>{{st.hospital}}</td>
                    <td>{{st.speciality}}</td>
                    
                   
                    <td>
                        <a href="{% url 'book_appointment' st.id %}" ><button class="btn btn-dark" style="margin-left:40px ;">Book</button></a>
                    </td>
                   
                    
                </tr>
            {% endfor %}